<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Libro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Crear Nuevo Libro</h1>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="button is-primary">Guardar</button>
            </form>

            <a href="{% url 'listar_libros' %}" class="button is-light">Volver a la Lista</a>
        </div>
    </section>
</body>
</html>
